{% load i18n %}
{% load url from future %}

<p>
    {% for sector in example.sectors.all %}
        <span>{{ sector }}{% if not forloop.last %}, {% endif %}</span>
    {% endfor %} /
    {% for country in example.countries.all %}
        <span>{{ country }}{% if not forloop.last %}, {% endif %}</span>
    {% endfor %}
</p>

<h3>{{ example.title }}</h3>
{% for placeholder in example.placeholders.all %}
    {% for plugin in placeholder.cmsplugin_set.all %}
        <p>{{ plugin.render_plugin }}</p>
    {% endfor %}
{% endfor %}
<hr>
<h4>{% trans "Goals" %}</h4>
<ul>
    {% for goal in example.goals.all %}
        <li>{{ goal }}{% if not forloop.last %}, {% endif %}</li>
    {% endfor %}
</ul>
{% endwith %}
